<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>다지선다형 퀴즈</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>다지선다형 퀴즈</h1>
<form action="/submit" method="post">
    <!-- 퀴즈와 선택지를 반복하며 표시 -->
    <div th:each="quiz, iterStat : ${quiz}">
        <h2 th:text="${quiz.question}">질문 텍스트</h2>
        <ul th:each="option, optionStat : ${optionsList[iterStat.index]}">
            <li>
                <label>
                    <input type="radio" th:name="'answers[' + ${iterStat.index} + ']'" th:value="${option}"/>
                    <span th:text="${option}">옵션 텍스트</span>
                </label>
            </li>
        </ul>
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>
